<html>
  <body>
    Would make map here if had time...

       <img src="public/images/josh_up_redwoods.jpg" alt="no time for images for now">  
    <ul>
      <h3> routes avail </h3>
      <li> <a href="/view"> view </a> </li>
      <li> <a href="/read"> read </a> </li>
      <li> <a href="/map"> map </a> </li>
      <li> <a href="/create"> create </a> </li>
    </ul>
  </body>
</html>